<h1>Totally real news!!</h1>
<a href = "/saved" >Saved</a>
<div class = "articles">
    
        {{!-- {{#if articles}} --}}
        {{#each articles}}
        <div class = "post-entry"></div>
            <img src= "{{image}}" height="100" width="175">
            <br>
            {{!-- <p>{{title}}</p> --}}
            <a href="{{link}}">{{title}}</a>
            <p>{{summary}}</p>
            <button class="save" data-image = "{{image}}" data-title = "{{title}}" data-link = "{{link}}" data-summary = "{{summary}}">Save</button>
            <br><br><br>
        </div>
        {{/each}}
        {{!-- {{/if}} --}}
    
</div>