<h1>Totally real news!!</h1>
<div class = "articles">
    <p>
        {{!-- {{#if articles}} --}}
        {{#each articles}}
            <img src= "{{image}}" height="100" width="175">
            <br>
            {{!-- <p>{{title}}</p> --}}
            <a href="{{link}}">{{title}}</a>
            <p>{{summary}}</p>
            <button class="save">Save</button>
            <br><br><br>
        {{/each}}
        {{!-- {{/if}} --}}
    </p>
</div>